/* Remove padding and margin */ 
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  nav{
    display: flex;
    justify-content: space-between;
   

  }
  
  img{
   border-bottom-right-radius: 15px;
  }

  ul{
    display: flex;
    width: 21%;
    margin-inline-start: auto;
    justify-content: space-around;
    align-items: center;
  }

  li{
    list-style: none;
  }

 a{
    text-decoration: none;
    color: #06132D;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
  }

  .round{
    display: flex;
    background-color: #06132D;
    width:  250px;
    height: 45px;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 15px;
  }
  .round a{
    color:#F7F3E8;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
  }

  .muskiebanner {
    width: 1440px;
    height: 721px;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
  }

  
  

  