
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
 

.bg-img {
  /* The image used */
  background-image: url("/Img/bigtiger.jpg");
  display: flex;
  min-height: 980px;
 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/*postion of navbar*/
.topnav{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 80%;
  gap: 1rem;
  padding-right: 3rem;
  padding-top: .5rem;
}
a{
  text-decoration: none;
  color: #F7F3E8;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  align-items: center;
  
}
a:hover{
  color: #06132D;
  cursor: pointer;
}

.logo img{
  border-bottom-right-radius: 15px;
  display: flex;
  
}

.--contact{
  display: flex;
  background-color: #06132D;
  width:  250px;
  height: 45px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 15px;
  
}
.--contact a{
  color:#F7F3E8;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  justify-content: space-evenly;
}

.sec{
  background-color: #06132D;
 